<!DOCTYPE html>
<html>

<head>
  <title><%= movie.title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h3><%= movie.title %></h3>
  <p>Premios: <%= movie.awards %></p>
  <p>Rating: <%= movie.rating %></p>
  <p>Duración: <%= movie.length %> minutos</p>
  <a href="/">Volver</a>
</body>

</html>
