<!DOCTYPE html>
<html>

<head>
  <title><%= movie.title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1><%= movie.title %></h1>
  <p>Premios: <%= movie.awards %></p>
  <p>Rating: <%= movie.rating %></p>
  <p>Duración: <%= movie.length %> minutos</p>
  <% if (movie.genres) { %>
    <p>Género: <%= movie.genres.name %></p>
  <% } else { %>
    <p>No tiene género</p>
  <% } %>
  <ul>
    <% for (actor of movie.actors){ %>
      <li><%= actor.first_name %> <%= actor.last_name %></li>
    <% } %>
  </ul>
  
  <a href="/editar/<%= movie.id %>">
    <button>Editar</button>
  </a>
  <form action="/borrar/<%= movie.id %>" method="POST">
    <button type="submit">Borrar película</button>
  </form>

  <a href="/">Volver</a>
</body>

</html>
